
  <!--Error Message Alert-->
<div class="container">
    <div *ngIf="error" class="alert alert-danger my-5" role="alert">
        <span><strong>An Error Occured : </strong>{{error}}</span>
      </div>
</div>


  <div class="container card card-body bg-light mt-5 shadow w-50">
    <h3>Change Password</h3>
     <hr>
    <form   *ngIf="!success" [formGroup]="changePassForm" (ngSubmit)="onChangePassword()">
    
    <div class="row">       
        <div class="form-group">
            <label for="id">Enter New Password</label>
            <input type="password" class="form-control mt-2" formControlName="password" placeholder="Enter New Password">
            <div class="w-100" *ngIf="f['password'].touched && f['password'].errors">
                <div *ngIf="f['password'].errors['required']" class="text-danger">
                Password is Required
                </div>
                <div *ngIf="f['password'].errors['password']" class="text-danger">
                    Password should be at least 6 characters
                    </div>
            </div>
          </div>

          <div class="row">
          <button class="btn btn-primary col-4 mt-3 mx-3" type="submit">Change Password</button>
        </div>
    </div>
  </form>

  <!--Alert after Change Password-->
    <div *ngIf="success" class="alert alert-success my-5" role="alert">
       <h3 class="fw-bold">Success!</h3>
       <h6>Password Chnaged Successfully.</h6>
      </div>


</div>