<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
    
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>

      <div class="nav-item">
        <button type="button" class="btn btn-success" routerLink="/" *ngIf="!isLoggedIn">Sign In</button>
      </div>
      <div class="dropstart" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{profileUser.photoUrl ? profileUser.photoUrl : '../../../assets/user.png'}}" width="40" height="40" class="rounded-circle">
        </a>
          <ul class="dropdown-menu mt-5">
            <li><a class="dropdown-item dropdown-item-border" href="#"><fa-icon [icon]="faThLarge"></fa-icon>&nbsp;&nbsp;Dashboard</a></li>
            <li><a class="dropdown-item dropdown-item-border" routerLink="profile"><fa-icon [icon]="faEye"></fa-icon>&nbsp;&nbsp;View Profile</a></li>
            <li><a class="dropdown-item dropdown-item-border" [queryParams]="{EditMode:true}" routerLink="profile"><fa-icon [icon]="faPen"></fa-icon>&nbsp;&nbsp;Edit Profile</a></li>
            <li><a class="dropdown-item dropdown-item-border" routerLink="/change-password"><fa-icon [icon]="faEye"></fa-icon>&nbsp;&nbsp;Change Password</a></li>
            <li><a class="dropdown-item" (click)="onSignOut()"><fa-icon [icon]="faPowerOff"></fa-icon>&nbsp;&nbsp;Sign Out</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" href="#">Separated link</a></li> -->
          </ul>
      </div>
    </div>
  </nav>