.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.special-img{
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.dropdown-item-border{
    border-bottom: 1px dashed lightslategray;
    padding-bottom: 10px;
}

