
<div class="container">
    <div *ngIf="error" class="alert alert-danger my-5" role="alert">
        <span><strong>An Error Occured : </strong>{{error}}</span>
      </div>
</div>



<div class="container">
    <div class="row">
        <div class="col">
            <div class="h3 text-danger fw-bold mt-5">Edit Contact</div>
            <p class="fst-italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae iste cupiditate,
                 culpa possimus voluptate id illum architecto omnis quia velit, fugit facere natus, quos error a sit tempora aliquam iure?</p>
        </div>
    </div>
</div>

<!--Loading Spinner-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>





<!--Create Contact Form-->
<div class="container" *ngIf="!loading">
    <div class="row">
        <div class="col-sm-4">
            <form [formGroup]="contactForm">
                <div class="mb-2">
                    <input type="text" class="form-control" formControlName="name" [(ngModel)]="contact.name" placeholder="Enter Name">
                        <div class="w-100" *ngIf="f['name'].touched && f['name'].errors">
                            <div *ngIf="f['name'].errors['required']" class="text-danger">
                            Name is Required
                            </div>
                        </div>
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" formControlName="email" [(ngModel)]="contact.email" placeholder="Enter Email">
                    <div class="w-100" *ngIf="f['email'].touched && f['email'].errors">
                        <div *ngIf="f['email'].errors['required']" class="text-danger">
                        Email is Required
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" formControlName="mobile" [(ngModel)]="contact.mobile" placeholder="Enter Mobile Number">
                    <div class="w-100" *ngIf="f['mobile'].touched && f['mobile'].errors">
                        <div *ngIf="f['mobile'].errors['required']" class="text-danger">
                        Mobile is Required
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" formControlName="company" [(ngModel)]="contact.company" placeholder="Enter Company">
                    <div class="w-100" *ngIf="f['company'].touched && f['company'].errors">
                        <div *ngIf="f['company'].errors['required']" class="text-danger">
                        Company is Required
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" formControlName="title" [(ngModel)]="contact.title" placeholder="Enter Title">
                    <div class="w-100" *ngIf="f['title'].touched && f['title'].errors">
                        <div *ngIf="f['title'].errors['required']" class="text-danger">
                        Title is Required
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" formControlName="photo" [(ngModel)]="contact.photo" placeholder="Enter Photo URL">
                    <div class="w-100" *ngIf="f['photo'].touched && f['photo'].errors">
                        <div *ngIf="f['photo'].errors['required']" class="text-danger">
                        Photo is Required
                        </div>
                    </div>
                </div>
                <!-- <div class="mb-2">
                    <select  class="form-control" formControlName="groupId">
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option> 
                        
                    </select>
                </div> -->
                <div class="my-3">
                   <button class="btn btn-danger" (click)="onEditContact()">Update</button>
                   <button class="btn btn-dark mx-2" routerLink="/contacts/admin">Close</button>
                </div>
            </form>
        </div>
       
        <div class="col-sm-4">
            <img [src]="contact.photo" class="contact-img" alt="">
        </div>

    </div>
</div>